body {
  min-width: 960px;
}
.layout {
  min-height: 100vh;
}
.sider-header {
  height: 64px;
}
.app-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.repository-search-frame {
  display: flex;
  gap: 20px;
}

.repository-list, .repository-search-form {
  width: 300px;
  height: 300px;
}
.repository-search-form__btn {
  display: flex;
  float: right;
}
.repository-search-form__btn button:not(:last-child) {
  margin-right: 10px;
}

.favorite-repositories {
  border: 1px solid blue;
  padding: 10px;
}

.favorite-heart-icon {
  padding-right: 5px;
  cursor: pointer;
}
