.layout {
  min-height: 100vh;
}
.sider-header {
  height: 64px;
}
.app-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.repository-list {
  border: 1px solid blue;
  padding: 10px;
}

.favorite-repositories {
  border: 1px solid blue;
  padding: 10px;
}

.favorite-heart-icon {
  padding-right: 5px;
  cursor: pointer;
}
